body
{
    background-color: #889495;
}
#watch-content{
    background-color: #407c87;
}
label > i{
    color: #afd9dc;
    font-size: 35pt;
}
#header
{
    font-family: calibri;
    text-align: center;
    color: white;
    margin: 20px 0;
}
#name
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 13pt;
    margin-bottom: 0;
    color: #a7e6eb;
}
#name > span
{
    display: flex;
    margin: 8px;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: calibri;
    width: 60px;
}
#number
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 19pt;
    margin-top: -10px;
}
#number > span
{
    display: flex;
    margin: 8px;
    color: white; 
    background-color: rgb(33, 33, 33);
    width: 60px;
    height: 60px;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 60px;
    font-family: calibri;
}
#btn
{
    text-align: center;
    margin-top: 26px;
}
#btn > button
{
    margin: 10px;
    padding: 10px 20px;
    font-size: 16pt;
    border-radius: 20px;
    color: white;
}
#startbtn
{
    background-color: rgb(10, 134, 10);
    border: none;
}
#startbtn:hover
{
    box-shadow: 2px 2px 2px rgb(55, 55, 55);
}
#stopbtn
{
    background-color: rgb(229, 229, 53);
    border: none;
}
#stopbtn:hover
{
    box-shadow: 2px 2px 2px rgb(55, 55, 55);
}
#resetbtn
{
    background-color: red;
    border: none;
}
#resetbtn:hover
{
    box-shadow: 2px 2px 2px rgb(55, 55, 55);
}
@media screen and (min-width: 275px) and (max-width: 353px){
    #name{
        font-size: 10pt;
    }
    #name > span{
        margin: 5px 4px 10px;
        width: 50px;
    }
    #number{
        font-size: 17pt;
    }
    #number>span{
        width: 50px;
        height: 50px;
        margin: 4px;
        border-radius: 50px;
    }
    #btn > button{
        margin: 10px;
        padding: 10px 20px;
        font-size: 14pt;
        border-radius: 20px;
        color: white;
    }
}
@media screen and (max-width: 280px){
    #name{
        display: none;
    }
}